<div class="container">
    <div class="header-text">
        <h1>Login</h1>
    </div>
    <div>
        <form [formGroup]="loginForm" (ngSubmit)="onAuthenticateUser()">
            <div >
              <div class="input-group">
                  <label for="uname"><b>Email</b></label>
                  <input type="text" placeholder="Enter Username" name="uname" formControlName="userName">
                  <small *ngIf="isFieldControls('userName')">Email required* </small>
              </div>
              <div class="input-group">
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" formControlName="password">
                  <small *ngIf="isFieldControls('password')">Password required* </small>
              </div>
              <div class="login-btn">
                <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid" >Login</button>
              </div>
            </div>
        </form>
    </div>
</div>
